@font-face {
  font-family: "Monocraft";
  src: url("../assets/fonts/Monocraft.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono.ttf") format("truetype");
}

:root {
  --font-family: "Monocraft", sans-serif;
  --font-size: 1rem;
  --large-font-size: 3rem;
  --small-font-size: 0.75rem;
  --line-height: 1.6;
  --text-color: white;
  --background-color: black;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Button */
button {
  border: none;
  background-color: transparent;
}

button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

button:active {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

/* Home */
.play-button {
  font-size: var(--large-font-size);
  position: sticky;
	top: 50%;
	left: 50%;
}

.account-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Account */
login-heading {
	text-align: center;
	margin: 0 auto;
}

input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input-container input {
	margin: 10px 0;
}

action-buttons {
	display: flex;
	justify-content: center;
}

action-buttons button {
	margin: 0 10px;
}
