@font-face {
  font-family: "Monocraft";
  src: url("../assets/fonts/Monocraft.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono.ttf") format("truetype");
}

:root {
  --font-family: "Monocraft", sans-serif;
  --font-size: 1rem;
  --large-font-size: 3rem;
  --small-font-size: 0.75rem;
  --line-height: 1.6;
  --text-color: white;
  --background-color: black;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}
