.messages-container {
  display: flex;
  height: calc(100vh - 2 * var(--padding-l));
  padding: var(--padding-l);
  overflow: hidden;
  gap: var(--margin-m);
}

.conversations-list {
  width: 300px;
  border: 1px solid var(--border-color);
  border-radius: var(--padding-l);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 100%;
  backdrop-filter: blur(var(--blur));
}

.conversation-item {
  display: flex;
  align-items: center;
  padding: var(--padding-s) var(--padding-m);
  cursor: pointer;
  transition: var(--transition);
}

.conversation-item:hover {
  background-color: var(--hover-bg);
}

.conversation-item.active {
  background-color: var(--bg-secondary);
  border: none;
  border-left: 4px solid var(--accent-color);
}

.avatar-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: var(--margin-s);
  flex-shrink: 0;
}

.conversation-details {
  flex: 1;
  overflow: hidden;
}

.conversation-details h4 {
  font-weight: 600;
  margin-bottom: var(--margin-xxs);
}

.conversation-details .last-message {
  font-size: 0.9rem;
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--padding-l);
  min-width: 0;
  backdrop-filter: blur(var(--blur));
}

.chat-header {
  padding: var(--padding-s) var(--padding-m);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

#chat-participants {
  display: flex;
  align-items: center;
  gap: var(--margin-s);
}

.chat-participant {
  display: flex;
  align-items: center;
}

.chat-participant .avatar-button .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: var(--padding-m);
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--bg-primary);
}

.messages {
  display: flex;
  align-items: flex-start;
  gap: var(--margin-xs);
  max-width: 80%;
}

.messages.sent {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.message-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--margin-xxs);
}

.message-content {
  padding: var(--padding-xs) var(--padding-s);
  border-radius: var(--padding-m);
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  font-size: 0.95rem;
  word-break: break-word;
}

.messages.sent .message-content {
  background-color: var(--accent-color);
  color: white;
}

.message-time {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.message-input-container {
  padding: var(--padding-s) var(--padding-m);
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: var(--margin-xs);
}

#message-input {
  flex: 1;
  padding: var(--padding-s);
  border: 1px solid var(--border-color);
  border-radius: var(--padding-l);
  background-color: var(--bg-secondary);
  /* Match setting-control */
  color: var(--text-primary);
  resize: none;
  font-size: 0.95rem;
}

#message-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.btn-accent {
  padding: 0 var(--padding-m);
  height: 40px;
  border-radius: var(--padding-l);
  background-color: var(--bg-secondary);
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
}

.btn-accent:hover {
  background-color: var(--accent-color);
  color: white;
}

.btn-accent .material-icons {
  transition: var(--transition);
}

#invite-match-btn {
  white-space: nowrap;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .messages-container {
    flex-direction: column;
  }

  .conversations-list {
    width: 100%;
    margin-right: 0;
    max-height: 30vh;
  }

  .chat-window {
    width: 100%;
    border: 1px solid var(--border-color);
  }

  .chat-header {
    padding: var(--padding-s) var(--padding-m);
  }

  .messages-list {
    padding: var(--padding-m);
  }

  .message-input-container {
    padding: var(--padding-m);
    gap: var(--margin-xs);
  }

  #message-input {
    padding: var(--padding-s);
    box-sizing: border-box;
  }

  .btn-accent {
    height: auto;
    padding: var(--padding-xs) var(--padding-s);
    flex-shrink: 0;
  }

  .messages-container .btn-accent {
    width: auto;
    flex-grow: inherit;
    height: 40px;
  }

  .messages-container #send-message-btn {
    width: 40px;
  }
}